.tablinks {
    border: 1px solid #ccc;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.2em 0 0;
    padding: 7px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

.logo {
    float: left;
    vertical-align: top;
    padding-right: 10px;
}

.content {
    color: #505050;
    vertical-align: top;
    padding: 5px;
}

.optcontainer {
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    color: #2b2b2b;
}

label {
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.7em;
    text-align: center;
    background-color: #e2e2e2;
    color: #505050;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #b5b5b5;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cnt .btn {
    vertical-align: top;
}

.btn:hover {
    background-color: #efefef;
}

select {
    width: 50%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

li {
    margin-top: 5px;
}

*:focus {
    outline: none;
}